@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Additional styles
@import 'utility-patterns.scss';
@import 'range-slider.scss';
@import 'toggle-switch.scss';
@import 'theme.scss';

@responsive {
    .rtl {
        direction: rtl;
    }
}

[x-cloak] {
    display: none;
}

.feat {
    min-height: 200px;
}

.tag-chips::before {
    content: '#';
}

.ans-btn {
    width: 80px;
}

@media (max-width: 600px) {
    .ans-btn {
        width: auto;
    }

    .logo-container {
        width: 80px;
        height: 40px;
    }
}

.w-md-editor-toolbar {
    height: fit-content !important;
}

.w-md-editor.w-md-editor-show-live {
    overflow-y: auto;
}

.w-md-editor-content {
    height: 100% !important;
}

.logo-container {
    width: 90px;
    height: 50px;
}

